[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
autopep8 = "*"

[packages]
pyyaml = "*"
flask = "*"
apscheduler = "*"
pipenv-setup = "*"
uwsgi = "*"
transmissionrpc = "*"

[scripts]
scheduler = "python -m transmission_helper"
_uwsgi = "uwsgi --ini webserver.ini"
setup = "pipenv-setup sync"

[requires]
python_version = "3.6"
